*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(35, 37, 49);
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: 400;
}

h1{
  margin-top: 40px;
  color: white;
}
